h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
    
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

